$lt-gray: #ddd;
$background-dark: #b17ef5;
$background-light: #fa925696;
$background-pale: #dfbb4834;

@mixin zero-margin($pad-up-down, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-down $pad-left-right;
}

.jumbotron {
  @include zero-margin(70px, 30px);
  background: $background-light;
  color: rgb(233, 72, 160);
  min-height: 150px;
}
$background-moredark: #4527A0;

.active {
    background: $background-moredark;
}